[user]
name = Yannick ROGER
email = my@email.fr
[color]
ui = auto

[alias]
st = status
ci = commit
co = checkout
br = branch

[core]
whitespace = trailing-space

[push]
    default = upstream

[color "diff"]
    whitespace = red reverse
